<div style="text-align: center;width: 100vw;">
    <div *ngIf="game && game.iniciado">
        <div class="ponto">
            {{game.pontos[game.pontoAtual].descricao}}
            <div *ngIf="game.acionado" class="quadro-b">
                <div [class]="game.acionado+' bomba-ilustracao'">
                    <div style="display: inline-block;top: -13px;position: relative;">
                        {{aser.tempoString(getPonto().tempoRestante)}}
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;margin-top: 5px;">
            <div class="Vermelho" style="display: inline-block;border-radius: 50%;width: 60px;height: 60px;">
                    <div style="position: relative;
                    top: 14px;
                    font-size: 22px;
                    font-family: 'Roboto';">{{game.placarVermelho}}</div>
                    <div style="font-family: 'Roboto';
                    position: relative;
                    top: 10px;
                    font-size: 13px;">Pts</div>
            </div>
            <div class="Azul" style="display: inline-block;border-radius: 50%;width: 60px;height: 60px;margin-left: 19px;">
                <div style="position: relative;
                top: 14px;
                font-size: 22px;
                font-family: 'Roboto';">{{game.placarAzul}}</div>
                <div style="font-family: 'Roboto';
                position: relative;
                top: 10px;
                font-size: 13px;">Pts</div>
            </div>
        </div>
        <div class="botao" style="background-color: #c4c5af;;color: white;margin-top: 25px;"  (click)="acao()">
            Armar Explosivo
        </div>
    </div>
    
    <app-timer (finalizar)="startar($event)" *ngIf="game.mostrarTimer"></app-timer>
</div>

<section *ngIf="mostrarCodigo" class="painel-absoluto">
    <div class="local-painel">
        <app-padrao  (resposta)="recebeuModificador($event)"></app-padrao>
    </div>
</section>
<!-- <app-painel-de-senha [visivel]="campoSenha" (emissor)="recebeuModificador($event)"></app-painel-de-senha> -->


<p-dialog header="Restaurar Jogo" [(visible)]="restore">
    Deseja restaurar o jogo que estava em andamento?
    <div class="aninhado" style="width: 270px;margin-top: 20px;">
        <button pButton pRipple type="button" label="LIMPAR" [ngStyle]="{'width':'100%'}" (click)="limpar()" class="p-button-raised p-button-danger"></button>
    </div>

    
    <div class="aninhado" style="width: 270px;margin-top: 20px;">
        <button pButton pRipple type="button" label="CANCELAR" [ngStyle]="{'width':'100%'}" (click)="cancelar()" class="p-button-raised p-button-info"></button>
    </div>

    

    <div class="aninhado" style="width: 270px;margin-top: 20px;">
        <button pButton pRipple type="button" label="RESTAURAR" [ngStyle]="{'width':'100%'}" (click)="restaurar()" class="p-button-raised p-button-success"></button>
    </div>
</p-dialog>
