@font-face {
    font-family: "Roboto";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("./assets/Inter-roman.var.woff2?v=3.19") format("woff2");
}

.titulo{
    font-family: 'Roboto';
    font-weight: 723;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.sub{
    font-family: 'Roboto';
    font-weight: 723;
    font-size: 16px;
    color: rgb(71, 63, 63);
    text-align: center;
    text-transform: uppercase;
}   

.caixa{
    padding: 5px;
    border: 2px solid gray;
    border-radius: 7px;
    margin-top: 4px;
}

.centro-caixa{
    display: flex;
    justify-content: center;
    gap:5px;
    flex-wrap: wrap;
}


.botaof{
    width: 100%;
    margin-top: 7px;
    margin-bottom: 3px;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 11px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.botao-celular{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-inline: 6px;
    padding-block: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.label{
    color: rgb(97, 93, 93);
    font-size: 13px;
    letter-spacing: -0.019em;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 847;
}

.legenda{
    color:rgb(97, 93, 93);
    font-weight: 718;
    font-size: 23px;
    letter-spacing: -0.019em;
    text-transform: uppercase;
}


.pular{
    animation: quicar 0.2s ease-in-out ;
}

@keyframes quicar { 0% { transform: translateY(0); } 50% { transform: translateY(-4px); } 100% { transform: translateY(0); } } 